* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

img {
  object-fit: cover;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;

  @media (min-width: 800px) {
    max-width: 1440px;
  }
}