// COLORS
$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$purpink: linear-gradient($second-color, $primary-color);

// FONT
$font-logotitles: (
  'Shrikhand',
  sans-serif
);
$font-text: (
  'Roboto',
  sans-serif
);