* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .main-container {
    max-width: 1440px;
  }
}

.restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  font-family: "Roboto", sans-serif;
  padding: 0 20px 60px;
}
@media (min-width: 800px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}
.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: transform 800ms;
}
.restaurants-cards .card:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 1px 7px #9356DC);
}
.restaurants-cards a {
  color: black;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.restaurants-cards img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 60%;
     object-position: 40% 60%;
  width: 100%;
  height: 150px;
  border-style: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants-cards .nouveau {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: small;
  color: #008766;
}
.restaurants-cards .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 10px 15px;
}
.restaurants-cards .card-content .card-txt {
  padding-left: 2px;
}
.restaurants-cards .card-content .card-txt .card-title {
  font-size: 16px;
  font-weight: 600;
}
.restaurants-cards .card-content .card-txt .card-subtitle {
  font-size: 16px;
  font-weight: 300;
}
.restaurants-cards .card-content .heart .hearttwo {
  opacity: 0;
}
.restaurants-cards .card-content .heart svg {
  position: absolute;
  right: 5px;
  top: 12px;
  font-size: 25px;
  padding-right: 15px;
}
.restaurants-cards .card-content .heart:hover .hearttwo {
  fill: url(#myGradient);
  opacity: 1;
  transition: 0.5s;
}
.restaurants-cards .card-content .heart:hover .heartone {
  opacity: 0;
  transition: 0.5s;
}

.explore button {
  border: none;
  outline: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 65%;
  padding: 15px;
  position: relative;
  left: auto;
  align-self: center;
}
.explore button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 800px) {
  .explore button {
    position: relative;
    left: auto;
    align-self: center;
    width: 20%;
  }
}

.menu-order button {
  border: none;
  outline: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 50%;
  padding: 15px;
}
.menu-order button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 800px) {
  .menu-order button {
    position: relative;
    left: auto;
    align-self: center;
    width: 20%;
  }
}

.header-index,
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shrikhand", sans-serif;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 0 5px;
  position: relative;
}
.header-index a,
.header-menu a {
  color: black;
}
.header-index .goback,
.header-menu .goback {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 25px;
}

@media (min-width: 800px) {
  .header-index {
    box-shadow: none;
  }
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 15px 0;
}
.form i {
  position: relative;
  left: 15px;
  color: #5e5e5e;
}
.form input {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
}
.form input::-moz-placeholder {
  color: #5e5e5e;
}
.form input::placeholder {
  color: #5e5e5e;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 17px;
  background-color: #353535;
  color: white;
}
@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
  }
}
footer .footer-logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 17px;
  padding-bottom: 15px;
}
@media (min-width: 800px) {
  footer .footer-logo {
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
  }
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 800px) {
  footer .footer-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 50px;
  }
  footer .footer-links .icones {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    gap: 7px;
  }
  footer .footer-links .noicones {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
footer .footer-links .fa-utensils {
  position: relative;
  top: -1px;
  padding-right: 5px;
  font-size: 13px;
}
footer .footer-links .fa-handshake-angle {
  position: relative;
  top: -2px;
  padding-right: 4px;
  font-size: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  padding: 35px 20px;
}
.explore h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}
.explore p {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px 20px 50px;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 800px) {
  .fonctionnement {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
.fonctionnement .step-title {
  padding-bottom: 10px;
}
.fonctionnement .steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 800px) {
  .fonctionnement .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.fonctionnement .step {
  width: 95%;
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-self: center;
  border: none;
  outline: none;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}
.fonctionnement .step:hover {
  background-color: white;
}
.fonctionnement .step .num-button {
  position: relative;
  left: -20px;
  background: #9356DC;
  color: white;
  font-size: small;
  padding: 3px 7px;
  border-style: none;
  outline: none;
  border-radius: 50%;
}
.fonctionnement .step i {
  width: 15%;
  position: relative;
  top: -4px;
  left: -9px;
  padding-right: 10px;
  color: #7e7d7d;
  font-size: large;
}
.fonctionnement .step .fa-store {
  color: #9356DC;
  font-size: medium;
  top: -3px;
}
.fonctionnement .step .txt-button {
  width: 85%;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
@media (min-width: 800px) {
  .fonctionnement .step {
    width: 30%;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
}
.restaurants .restaurants-title {
  font-family: "Roboto", sans-serif;
  padding: 20px;
}/*# sourceMappingURL=index.css.map */