* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .main-container {
    max-width: 1440px;
  }
}

.explore button {
  border: none;
  outline: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 65%;
  padding: 15px;
  position: relative;
  left: auto;
  align-self: center;
}
.explore button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 800px) {
  .explore button {
    position: relative;
    left: auto;
    align-self: center;
    width: 20%;
  }
}

.menu-order button {
  border: none;
  outline: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 50%;
  padding: 15px;
}
.menu-order button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 800px) {
  .menu-order button {
    position: relative;
    left: auto;
    align-self: center;
    width: 20%;
  }
}

.header-index,
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shrikhand", sans-serif;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 0 5px;
  position: relative;
}
.header-index a,
.header-menu a {
  color: black;
}
.header-index .goback,
.header-menu .goback {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 25px;
}

@media (min-width: 800px) {
  .header-index {
    box-shadow: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 17px;
  background-color: #353535;
  color: white;
}
@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
  }
}
footer .footer-logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 17px;
  padding-bottom: 15px;
}
@media (min-width: 800px) {
  footer .footer-logo {
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
  }
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 800px) {
  footer .footer-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 50px;
  }
  footer .footer-links .icones {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    gap: 7px;
  }
  footer .footer-links .noicones {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
footer .footer-links .fa-utensils {
  position: relative;
  top: -1px;
  padding-right: 5px;
  font-size: 13px;
}
footer .footer-links .fa-handshake-angle {
  position: relative;
  top: -2px;
  padding-right: 4px;
  font-size: 10px;
}

.main-menu {
  background-color: #fafafa;
}
@media (min-width: 800px) {
  .main-menu {
    display: flex;
    justify-content: center;
    background-color: white;
  }
}

.menu-pic {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 800px) {
  .menu-pic img {
    height: 350px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  position: relative;
  margin-top: -40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 800px) {
  .menu {
    margin-top: -40px;
    width: 70%;
    padding-bottom: 30px;
  }
}
.menu .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 15px;
  font-family: "Shrikhand", sans-serif;
}
@media (min-width: 800px) {
  .menu .menu-title {
    align-self: center;
    gap: 70px;
  }
}
.menu .menu-title .heart .hearttwo {
  opacity: 0;
}
.menu .menu-title .heart svg {
  position: absolute;
  right: 15px;
  top: 30px;
  font-size: 25px;
  padding-right: 15px;
}
.menu .menu-title .heart:hover .hearttwo {
  fill: url(#myGradient);
  opacity: 1;
  transition: 0.5s;
}
.menu .menu-title .heart:hover .heartone {
  opacity: 0;
  transition: 0.5s;
}
.menu .menu-carte {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10px;
}
.menu .menu-carte h2 {
  position: relative;
  font-size: 15px;
  font-weight: 300;
}
.menu .menu-carte h2::after {
  content: "";
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -6px;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.menu .menu-carte .menu-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu .menu-carte .menu-details:hover .checkicon {
  display: flex;
  justify-content: center;
  align-self: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu .menu-carte .menu-details .menu-details-txt {
  line-height: 20px;
}
.menu .menu-carte .menu-details .menu-details-txt .menu-details-title {
  font-size: 15px;
  font-weight: bold;
}
.menu .menu-carte .menu-details .menu-details-txt .menu-details-subtitle {
  font-size: 12.5px;
  font-weight: 300;
}
.menu .menu-carte .menu-details .menu-details-price {
  font-size: 12.5px;
  font-weight: bold;
  padding-top: 20px;
}
.menu .menu-carte .menu-details .menu-details-price:hover {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu .menu-carte .menu-details .checkicon {
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 30px 13px;
  border-radius: 0 15px 15px 0;
  background: #99E2D0;
}
.menu .menu-carte .menu-details .checkicon i {
  color: white;
  font-size: 25px;
}
.menu .menu-order {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=menu.css.map */