footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 17px;
  background-color: #353535;
  color: white;

  @media (min-width: 800px) {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
  }

  a {
    color: white;
    text-decoration: solid;
  }

  .footer-logo {
    font-family: $font-logotitles;
    font-size: 17px;
    padding-bottom: 15px;

    @media (min-width: 800px) {
      padding-left: 50px;
      padding-right: 30px;
      padding-top: 40px;
    }
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 300;

    @media (min-width: 800px) {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding-top: 50px;

      .icones {
        display: flex;
        flex-direction: row;
        font-weight: 400;
        gap: 7px;
      }

      .noicones {
        display: flex;
        flex-direction: row;
        gap: 15px;
      }
    }

    .fa-utensils {
      position: relative;
      top: -1px;
      padding-right: 5px;
      font-size: 13px;
    }

    .fa-handshake-angle {
      position: relative;
      top: -2px;
      padding-right: 4px;
      font-size: 10px;
    }

  }
}