footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 17px 17px;
  background-color: #353535;
  color: white;

  .footer-logo {
    font-family: $font-logotitles;
    font-size: 8px;
    padding-bottom: 15px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 300;

    .fa-utensils {
      position: relative;
      top: -1px;
      padding-right: 5px;
      font-size: 13px;
    }

    .fa-handshake-angle {
      position: relative;
      top: -2px;
      padding-right: 4px;
      font-size: 10px;
    }

  }
}