.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 15px 0;

  i {
    position: relative;
    left: 15px;
    color: #7a7a7a;
  }

  input {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    color: #7a7a7a;
    font-family: $font-text;
    text-align: center;
    font-size: 15px;
  }
}