.header-index,
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-logotitles;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 0 5px;
  position: relative;

  a {
    color: black;
  }

  .goback {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 25px;
  }
}

@media (min-width: 800px) {
  .header-index {
    box-shadow: none;
  }
}